.car_panel {

    text-align:center;
       width: 100%;
}
.carcard {
    display: inline-block;
    font-size: 13px;
    min-width:320px;
    height: 400px;
    background-color: #F2F2F2;
    max-width: 320px;
    padding: 10px;
    margin: 5px;
    color: #303e48;
    border-radius: 7px;
    border-style:2px solid #97d700 ;
    box-shadow: 5px 5px 5px #303e48;
    overflow: hidden;
}

.carcard .carimage {
    width: 300px;
    height:200px;
    border-radius: 7px;
}

.rate_calculater {
    padding: 15px;
    color:white;
    background-color:#97d700;
    margin: 5px 0px 5px -10px;
    width:321px;
    height: 114.5px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    font-size: 14px;
}
.rate_calculater input[type=text] {
    background-color:#97d700;
    margin-left: 5px;
    border-style: none;
    font-size: 14px;
    border-bottom-style: solid;

}
.rate_calculater button {
    background:#97d700;
    border-radius:10px;
    color: white;
    width: 250px;
    height: 40px;
    margin: 10px 25% 10px 5%;
    border-color:white;
    border-style: solid;
}
